{% extends "payments/base.html" %}  <!-- добавляем payments/ -->
{% block title %}Вход{% endblock %}
{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <h2 class="mb-4 text-center">Вход в систему</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-100">Войти</button>
    </form>
    <p class="mt-3 text-center">
        Нет аккаунта? Обратитесь к администратору.
    </p>
</div>
{% endblock %}
